# Local Netlify folder
.netlify

# Node.js dependencies (not needed for static site)
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# ESLint cache
.eslintcache

# MacOS
.DS_Store

# Editor directories and files
.vscode/
.idea/
*.swp
*.swo

# Temporary files
*.tmp
